/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h5 {
  color: #3FB44E;
}
a.green_link {
  color: #3FB44E;
}

/* Navbar
------------------------- */
$bgDefault   : #343A40;
$bgHighlight : none;
$colDefault  : #FFFFFF;
$colHighlight: #3FB44E;

.navbar {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  font-family: 'futura-pt', sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 125%;
  .navbar-header {
  }
  .navbar-nav {
    > li {
      padding-top: 0px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; 
          text-decoration: none; 
          }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
   .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
      background-color: #FFFFFF !important;
      
      background-repeat: repeat-x !important;
      color: #AD3C3C;
      outline: 0 none;
      text-decoration: none;
    }
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


#map {
  position: absolute;
  top: 250px;
  bottom: 0;
  right: 0;
  overflow-y: hidden; 
}
#sidebar {
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

}

#map_show {
  height: 600px;
  width: 100%;
  left: 0;
}

